body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}


button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}


p {
    font-size: 18px;
    color: #666;
}
